div .navbar-brand {
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
}

.navbar-brand {
  margin: 0;
}

.content {
  position: absolute;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 60px;
}

.cancel_font {
  margin-top: 4%;
  margin-left: -6px;
  color: #fff;
  font-size: 15px;
}

.padding_9 {
  padding: 9px;
}

.form-inline {
  position: relative;
}

#search {
  padding: 12px 20px 12px 40px;
}

.form-inline .searchi {
  position: absolute;
  color: #b5b5b5;
  top: 28%;
  display: inline-block;
  margin-left: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  height: 50px;
}

.footer div a {
  color: #fff;
  text-decoration: none;
}

.footer .active {
  color: rgb(255, 80, 49);
}

.footer .home {
  text-align: center;
  line-height: 50px;
  height: 50px;
  float: left;
  width: 50%;
  font-size: 22px;
}

.footer .user {
  text-align: center;
  line-height: 50px;
  height: 50px;
  float: left;
  width: 50%;
  font-size: 22px;
}

#news_classes {
  font-size: 20px;
  z-index: 99;
  width: 150%;
  height: 30px;
  background: rgb(231, 227, 232);
  /*overflow: hidden;*/
  position: fixed;
  /*left: -100px;*/
  top: 51px;
}

@media screen and (max-width: 320px) {
  #news_classes {
    width: 170%;
  }
}

.active {
  color: rgba(255, 0, 0, 0.69);
}

#news_classes ul li {
  line-height: 31px;
  list-style: none;
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

.loosen {
  margin-top: 70px;
  text-align: center;
  height: 60px;
  line-height: 50px;
  background: rgba(238, 241, 246, 0.49);
  display: none;
}

.alert1 {
  width: 50%;
  position: absolute;
  top: 78px;
  left: 25%;
  font-size: 15px;
}

.wait_box {
  margin-top: 70px;
  text-align: center;
  height: 60px;
  line-height: 50px;
  background: rgba(238, 241, 246, 0.49);
  display: none;
}

.alert2 {
  width: 50%;
  position: absolute;
  /*top: 14%;*/
  left: 25%;
  font-size: 15px;
}

.article {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px 10px;
  text-align: left;
  float: left;
}

.articles li {
  margin-top: 10px;
  list-style: none;
  width: 100%;
  height: 90px;
  line-height: 35px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.articles a {
  width: 100%;
  height: 90px;
  display: block;
  color: black;
  line-height: 26px;
}

.articls_imgs {
  width: 115px;
  height: 72px;
  float: right;
  padding: 5px 5px;
  /*position: absolute;*/
  clip: rect(20px 100px 50px 20px);
}

.click_class {
  color: rgba(255, 0, 0, 0.690196);
}

/*#new img {
    max-width: 100%;
}

#new {
    width: 100%;
    padding: 10px;
    bottom: 55px;
    top: 55px;
}*/
